<footer class="footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <h5 class="mb-3">CONTACT US</h5>
                <ul class="list-unstyled">
                    <li class="d-flex align-items-start mb-2">
                        <i class="bi bi-geo-alt-fill fs-4 me-2"></i>
                        <span>28 Km by Cairo / Alexandria Desert Road, 6 October, B148, Egypt</span>
                    </li>
                    <li class="d-flex align-items-center mb-2">
                        <i class="fa-solid fa-phone-flip"></i>
                        <span>+(202) 353-55656</span>
                    </li>
                    <li class="d-flex align-items-center">
                        <i class="fa-solid fa-envelope"></i>
                        <span>ITInfo.iti.gov.eg</span>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 text-md-end">
                <h5 class="mb-3">FOLLOW US</h5>
                <a href="#" class="text-white fs-4 me-3"><i class="fa-brands fa-facebook-f text-primary"></i></a>
                <a href="#" class="text-white fs-4 me-3"><i class="fa-brands fa-twitter text-info"></i></a>
                <a href="#" class="text-white fs-4"><i class="fa-brands fa-youtube text-bg-danger rounded-1"></i></a>
            </div>
        </div>
    </div>
</footer>